.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    background-color: lightsteelblue;
    padding: 20px;
}

.items {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


